@model IEnumerable<Android_Push_Notifications.Models.UserModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

    @using (Html.BeginForm())
{
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>UserModel</h4>
            <hr />
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Login)
                    </th>

                    <th>Devices</th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Login)
                        </td>

                        <td>
                            @Html.Action("Devices", "Device", item)
                        
                        </td>
                    </tr>
            }
            </table>

            </div>
            }
           
