<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="application_id" value="AIzaSyDrkoVZV5YaYSVX_xEGGVVA03tgquRBXK4 "/>
    <add key="sender_id" value="811330364938"/>
    <add key="gcm_url" value="https://android.googleapis.com/gcm/send"/>
    <add key="gcm_method" value="POST"/>
    <add key="gcm_content_type" value="application/x-www-form-urlencoded;charset=UTF-8"/>
    <add key="collapse_key" value="1"/>
    <add key="delay_while_idle" value="0"/>
    <add key="collapse_key" value="1"/>
    <add key="collapse_key" value="1"/>
  </appSettings>
</configuration>